.luzVerde{
    background-color: green;
    border-radius: 100%;
    margin: 4px;
    width: 50px;
    height: 50px;    
}
.luzAmbar{
    background-color: rgb(229, 211, 15);
    border-radius: 70%;
    margin: 4px;;
    width: 50px;
    height: 50px;
}
.luzRoja{
    background-color: rgb(243, 13, 13);
    border-radius: 70%;
    margin: 4px;;
    width: 50px;
    height: 50px;
    margin-top: 13px;
}
.semaforo{
    background-color: black;
    display: inline-block;
    padding: 10px;
    margin-left: 250px;
    margin-top: 10%;
    height: 200px;
    border-radius: 30%;
}
.glow{
    box-shadow: 0px 0px 9px 5px rgb(242, 245, 242);
}
.paloSemaforo{
    background-color: black;
    width: 20px;
    height: 60px;
    position: absolute;
    left: 280px;
   
}
.btn{
    position: absolute;
    top: 82%;
    left: 200px;

}